DB_URL=jdbc:postgresql://localhost:5433/notes_db
DB_USERNAME=notes_user
DB_PASSWORD=notes_pass
JWT_SECRET=507A723F4428472D4B6150645367566B5970337336763979244226452948404D
CORS_ORIGINS=http://localhost:4200
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=votre.email@gmail.com
MAIL_PASSWORD=votre_app_password
SPRING_PROFILES_ACTIVE=dev
